.signup-text {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.sign-up-modal {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 300px;
  padding: 20px;
}

.sign-up-label-input {
  display: flex;
  flex-direction: column;
}

#sign-up-btn {
  width: 270px;
}
