@media screen and (min-width: 360px) {
  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4em;
    background-color: #ebebeb;
    margin-top: auto;
  }
}
