.nav-bar {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  margin-top: 25px;
  align-items: center;
  margin-left: 50px;
  margin-right: 50px;
}

.nav-bar li {
  list-style-type: none;
}

.logo {
  width: 110px;
}

.search-box-container {
  display: flex;
  gap: 15px;
  border-radius: 35px;
  padding: 15px 20px;
  margin: auto;
  border: 0.5px solid gray;
  cursor: pointer;
  box-shadow: 0 8px 28px rgba(0, 0, 0, 0.28);
}

/* .search-box-container:hover {
} */

.search-box-container {
  display: flex;
  gap: 15px;
  align-items: center;
  border-radius: 35px;
  padding: 15px 20px;
  border: 0.5px solid gray;
  cursor: pointer;
  box-shadow: 0 8px 28px rgba(0, 0, 0, 0.28);
}

.border-right {
  display: flex;
  gap: 20px;
  border-right: 1px solid gray;
}

.circle-magnify-glass {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: #ff385c;
  padding: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.magnify-glass {
  color: white;
}

.sing-up-login-btns {
  display: flex;
  gap: 20px;
}

/* .login-sign-up-btns {
  border: 2px solid red;
} */
