.nav-bar {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  align-items: center;
}

.nav-bar li {
  list-style-type: none;
}

.nav-bar .logo {
  width: 110px;
  margin-left: 70px;
}

.sign-up-login-btns {
  display: flex;
  gap: 20px;
}

.user-menu-container {
  display: grid;
  margin-top: 20px;
  margin-right: 70px;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "row1"
    "row2";
}

.three-links {
  display: flex;
  grid-area: row1;
  gap: 25px;
  align-items: center;
  justify-content: end;
}

.drop-down-menu {
  grid-area: row2;
  text-align: right;
}

.icon-nav-bar {
  cursor: pointer;
  width: 35px;
  height: 35px;
}

.profile-dropdown {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.login-sign-up-btns {
  display: flex;
  gap: 25px;
  margin-right: 70px;
}
