.nav-bar {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  margin-top: 25px;
  margin-left: 50px;
  margin-right: 50px;
  align-items: center;
}

.nav-bar li {
  list-style-type: none;
}

.nav-bar .logo {
  width: 110px;
  /* margin-top: 3px; */
}

.sing-up-login-btns {
  display: flex;
  gap: 20px;
}

.user-menu-container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "row1"
    "row2";
}

.three-links {
  display: flex;
  grid-area: row1;
  gap: 25px;
  align-items: center;
  justify-content: end;
}

.drop-down-menu {
  grid-area: row2;
  text-align: right;
}

.icon-nav-bar {
  cursor: pointer;
}
